# Relatório de Análise IV

## Seleções e Frequências

In [1]:
import pandas as pd

In [3]:
dados = pd.read_csv("db/aluguel_residencial.csv", sep = ";")
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [8]:
# Selecione apenas os imóveis classificados com o tipo apartamento.
selecao = dados["Tipo"] == "Apartamento"
n1 = dados[selecao].shape[0]
n1

19532

In [11]:
# Selecione os imoveis classificados com os tipos 'Casa', 'Casa de Condomínio', e 'Casa de Vila'
selecao = (dados["Tipo"] == "Casa") | (dados["Tipo"] == "Casa de Condomínio") | (dados["Tipo"] == "Casa de Vila")
n2 = dados[selecao].shape[0]
n2

2212

In [15]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluíndo os limites
selecao = (dados["Area"] >= 60) & (dados["Area"] <= 100) 
n3 = dados[selecao].shape[0]
n3

8719

In [16]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que 2k
selecao = (dados["Quartos"] >= 4) & (dados["Valor"] < 2000.0)
n4 = dados[selecao].shape[0]
n4

41

In [18]:
print(f"Nº de imóveis classificados com o tipo apartamento: {n1}")
print(f"Nº de imoveis classificados com os tipos 'Casa', 'Casa de Condomínio', e 'Casa de Vila': {n2}")
print(f"Nº de imóveis com área entre 60 e 100 metros quadrados, incluíndo os limites: {n3}")
print(f"Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que 2k: {n4}")

Nº de imóveis classificados com o tipo apartamento: 19532
Nº de imoveis classificados com os tipos 'Casa', 'Casa de Condomínio', e 'Casa de Vila': 2212
Nº de imóveis com área entre 60 e 100 metros quadrados, incluíndo os limites: 8719
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que 2k: 41

## Exercicios

In [19]:
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])