In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('aadfgskdkkdkafsda'))
s

0     a
1     a
2     d
3     f
4     g
5     s
6     k
7     d
8     k
9     k
10    d
11    k
12    a
13    f
14    s
15    d
16    a
dtype: object

In [3]:
s.unique()

array(['a', 'd', 'f', 'g', 's', 'k'], dtype=object)

In [4]:
s.value_counts()

k    4
d    4
a    4
f    2
s    2
g    1
dtype: int64

In [5]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [6]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [7]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64