## Importando dados de outras fontes

In [ ]:
import pandas as pd

In [ ]:
json = open("dados/aluguel.json")
print(json.read())

In [ ]:
df_json = pd.read_json("dados/aluguel.json")
df_json

In [ ]:
df_txt = pd.read_table("dados/aluguel.txt")
df_txt

In [ ]:
df_xlsx = pd.read_excel("dados/aluguel.xlsx")
df_xlsx

In [26]:
df_html = pd.read_html("dados/dados_html_1.html")
df_html[0]

  FAIXA ETÁRIA UNAFISCO SAÚDE SOFT II SOFT PARTICIPATIVO      UNIQUE
0      00 A 18               R$218,99           R$192,60    R$334,48
1      19 A 23               R$263,63           R$207,67    R$380,06
2      24 A 28               R$322,44           R$224,26    R$464,39
3      29 A 33               R$402,05           R$258,63    R$566,68
4      34 A 38               R$455,17           R$306,37    R$664,61
5      39 A 43               R$489,29           R$417,93    R$742,72
6      44 A 48               R$582,65           R$495,24    R$869,47
7      49 A 53               R$718,86           R$562,64  R$1.046,29
8      54 A 58               R$908,54           R$721,00  R$1.355,74
9   59 OU MAIS             R$1.244,50         R$1.151,62  R$2.003,53